.content_container{
    margin-top: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    transition: grid-template-columns .3s ease;
}

.content_headline{
    text-align: center;
    margin-top: 32px;
}

.collapsed_discs{
    grid-template-columns: 1fr;
}

.main_section .el-divider{
    margin: 8px 0 16px 0;
}

.el-dialog{
    background: #121212 !important;
    border-radius: 16px !important;
    padding: 0 !important;
}

.el-overlay{
    backdrop-filter: blur(42px);
}

.el-dialog__headerbtn:focus .el-dialog__close, .el-dialog__headerbtn:hover .el-dialog__close {
    color: #E54927 !important;
}