.content_container{
    margin-top: 128px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    transition: grid-template-columns .3s ease;
}

.collapsed_discs{
    grid-template-columns: 1fr;
}