@use "./../../assets/css/variables.scss";

#auth-section{
    height: 100vh;
    width: 100%;
}
#auth-section{
    .logo{
        margin: 64px auto 128px auto;
    }

    .auth-form{
        margin-top: 128px;
    }
}