@import "./variables.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app{
    background-color: $black;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p, div, button, label{
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    color: $white;
}

input, input::placeholder, li, span{
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
}

h1{
    font-size: 32px;
}

h2{
    font-size: 24px;
}

div, button, p, a, span, input, input::placeholder{
    font-size: 16px;
}

.small_text{
    font-size: 12px;
}

.default_input{
    height: 36px;
    border-radius: 8px;
    padding: 0 12px;
    outline: none;
}

section{
    width: 90%;
    margin: auto;
    position: relative;
}

*::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #121212;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #121212;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #121212;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #E54927;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #E85E40;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #E85E40;
  }

  .el-notification{
    background-color: #202020;
  }

  .el-notification .el-notification__title{
    color: $white;
  }