@import "./../../assets/css/variables.scss";

.toolbar{
    height: 64px;
    width: 90%;
    padding: 0 12px;
    gap: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 16px;
    background-color: $white;
    position: fixed;
}

.toolbar{
    &__bar{
        display: flex;
        width: 100%;
        align-items: center;
        gap: 12px;
    }

    .search_input{
        width: 100%;
    }

    .right_bar{
        justify-content: flex-end;
    }
}